{# {% extends "block.html.twig" %} #}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
	'col-md-5',
	'col-7'
  ]
%}
	<div{{attributes.addClass(classes)}}>
	{{ title_prefix }}
		{% if label %}
			<h2{{title_attributes}}>
		{{ label }}
	</h2>
	{% endif %}
	{{ title_suffix }}
		{% block content %}
			<div class="col d-flex align-items-center"> {% if site_logo %}
				<a href="{{ path('<front>') }}" rel="home" class="site-logo">
					<img width="46" src="{{ site_logo }}" alt="{{ 'Home'|t }}"/>
				</a>
			{% endif %}
			{# currently keeping this hard coded so that I can style the font of individual letters{% if site_name %}
																																								<div class="site-name">
																																									<a class="h3 text-decoration-none" href="{{ path('<front>') }}" rel="home">{{ site_name }}</a>
																																								</div>
																																							{% endif %} #}
			<div class="site-name">
				<a class="text-decoration-none" href="{{ path('<front>') }}" rel="home">
					<b>I</b>ntegrated
					<b>C</b>apital
					<b>M</b>anagement</a>
			</div>
			{% if site_slogan %}
				<div class="site-slogan">{{ site_slogan }}</div>
			{% endif %}
		</div>
	{% endblock %}
</div>
