{#
/**
 * @file
 * Default theme implementation to display modal.
 *
 * @ingroup templates
 * @see modal_page_preprocess_html()
 */
#}
<div aria-modal="true" {{ enable_modal_header and display_title ? 'aria-labelledby=' ~ title|raw|lower|replace({' ': '_'}) ~ '_label' ~ '' }} aria-describedby="{{ title|raw|lower|replace({' ': '_'}) ~ '_desc' }}" class="modal fade js-modal-page-show" id="js-modal-page-show-modal" data-open-modal-element-click="{{ open_modal_on_element_click }}" data-auto-open="{{ auto_open }}" role="dialog" style="display: none;" data-modal-id="{{ id }}" data-keyboard="{{ close_modal_esc_key }}" data-backdrop="{{ close_modal_clicking_outside }}" tabindex="-1">
  <div role="document" class="modal-page-dialog modal-dialog {{ modal_size }}">
    <div class="modal-page-content modal-content">

      {# Verify if Modal Header is enabled. #}
      {% if enable_modal_header %}

        <div class="{{ modal_header_classes }}">

          {# Verify if should Display button X. #}
          {% if display_button_x_close %}
            <button type="button" class="close js-modal-page-ok-button" data-dismiss="modal">&times;</button>
          {% endif %}

          {# Verify if should Display Title. #}
          {% if display_title %}
            <h4 id="{{ title|raw|lower|replace({' ': '_'}) ~ '_label' }}" class="modal-title modal-page-title">{{ title|raw }}</h4>
          {% endif %}

        </div>

      {% endif %}

      {# Show Modal Body #}
      <div id="{{ title|raw|lower|replace({' ': '_'}) ~ '_desc' }}" class="modal-body modal-page-body">
        {{ text|raw }}
      </div>

      {# Verify if Modal footer is enabled. #}
      {% if enable_modal_footer %}

        <div class="{{ modal_footer_classes }}">
          {% if do_not_show_again %}
            <label class ="modal-dont-show-again-label"><input type="checkbox" class="modal-page-please-do-not-show-again" value="{{ id }}"> {{ do_not_show_again }}</label>
          {% endif %}
          <input type="hidden" id="delay_display" name="delay_display" value="{{ delay_display|raw }}" />
          <button type="button" class="btn btn-default js-modal-page-ok-button" data-dismiss="modal">{{ button }}</button>
        </div>

      {% endif %}

    </div>
  </div>
</div>
