<footer class='site-footer px-4 py-5' role="contentinfo">
	<div class="row">
	{% if page.footer_first %}
	<div class="col-lg-3 col-12 page-footer_first">
		{{page.footer_first}}
	</div>
	{% endif %}

	{% if page.footer_second %}
	<div class=" col-lg-2 col-12">
		{{page.footer_second}}
	</div>
	{% endif %}
	
	{% if page.footer_third %}
	<div class=" col-lg-2 col-12">
		{{page.footer_third}}
	</div>
	{% endif %}
	{% if page.footer_fourth %}
	<div class=" col-lg-2 col-12">
		{{page.footer_fourth}}
	</div>
	{% endif %}
	{% if page.footer_fifth %}
	<div class=" col-lg-2 col-12">
		{{page.footer_fifth}}
	</div>
	{% endif %}
	
	</div>
</footer>