{#
/**
 * @file
 * Default theme implementation to webform confirmation.
 *
 * Available variables:
 * - progress: Progress bar.
 * - message: Confirmation message.
 * - back_url: URL to the previous webform submission.
 *
 * @see template_preprocess_webform_confirmation()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('webform/webform.confirmation') }}

{% if progress %}
	{{ progress }}
{% endif %}

<div {{ attributes.addClass('webform-confirmation') }}>
	<div class="row gx-0 justify-content-between align-content-start">
			<div class="panel row col-12 col-lg-7 decorated single-corner-dots align-content-start">
				<div id="data-chart" class="col-12 col-xxl-7" height=200 width=450></div>
				<div class="scoring-key inset-shadow p-2 my-3 col-12 col-xxl-5">
					<h3 class="fs-5">Portfolio Scoring Key</h3>
					<ol class="mb-0">
						<li>Fixed Income Completion</li>
						<li>Capital Preservation &amp; Inflation Hedge</li>
						<li>Income &amp; Inflation Hedge</li>
						<li>Defensive Growth</li>
						<li>Balanced Growth/Tactical Income(TICE)</li>
						<li>Risk Controlled Growth/TICE</li>
						<li>Conservative Capital Appreciation/TICE</li>
						<li>Moderate Capital Appreciation/TICE</li>
						<li>Aggressive Capital Appreciation/TICE</li>
						<li>Equity Completion</li>
					</ol>
				</div>
			</div>
		<div class="panel p-3 col-12 col-lg-5 decorated linear-dots">				
			<div class="panel-header">
				<h2 class="underline-title full blue">Your Assessment</h2>
			</div>
			<h3 class="fs-4 mt-4">Scores</h3>
			<hr class="short blue">
			<ul class="row list-unstyled ps-0">
				<li class="col-6"><i class="fas fa-stopwatch"></i> Time Horizon:<b>{{ time_horizon }}</b></li>
				<li class="col-6"><i class="fas fa-thermometer-half"></i> Risk Level: <b>{{ risk_level }}</b></li>
			</ul>
			<h3 class="fs-4 mt-4">Your investor type</h3>
			<hr class="short blue">
			<ul class="row list-unstyled ps-0">
				<li class="col-6"><i class="fas fa-briefcase"></i></i> <b>{{ strategy['name'] }}</b></li>
				<li class="col-6"><i class="fas fa-tachometer-alt"></i>  Strategy Score: <b>{{ strategy_score }}</b></li>
			</ul>
			<br/>
			{% set processed_description = {
				'#type': 'processed_text',
				'#text': strategy['#markup'],
				'#format': 'full_html'
			} %}
			<div>{{processed_description}}</div>
			
		</div>
	</div>
	{% if message %}
		<div class="webform-confirmation__message">
			{{ message }}
		</div>
	{% endif %}

	{% if back %}
		<div class="webform-confirmation__back">
			<a href="{{ back_url }}" rel="prev" {{ back_attributes }}>{{ back_label }}</a>
		</div>
	{% endif %}
</div>
